* {
   letter-spacing: 3px; 
   font-family: 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgba(56, 55, 55, 0.233);
}
/*setting colors to easily pull instead of repeating*/
:root {
  --bright: rgb(49, 190, 68); 
  --dark: rgb(56, 55, 55);
}

header {
    margin: -10px -10px 0px -10px;
    background: var(--dark);
}

header h1{
    display: inline-block;
    padding: 5px 5px 5px 0;
    padding-left: 80px;
    background: var(--bright);
    color: var(--dark)
    text-align: right;
    font-size: 40px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
header li {
   display: inline;
  }
  
header li a {
    color: var(--bright);
    padding: 14px 16px;
    font-weight: bold;
  }

  /* setting nav to the same line as header */
nav {
    padding-top: 40px;
    margin-right: 50px;
    float: right;
  }

 
/*postioning banner and article title*/
main {
  display: flex;
  flex-wrap: wrap;
}

article img {
    width: 100%;
    height: 100%;
  }

article h1 {
  position: relative;
  top: -120px;
  left: -50px;
  float: right;
  background-color: var(--dark);
  padding: 15px;
  margin: 20px;
  color: var(--bright);
  font-style: italic;
  font-weight: bold;
  border: 3px outset rgb(168, 158, 14); 
}

/*floating side titles of content*/
aside {
  float: left;
  padding: 0 10px 0 0;
  margin: 0 30px 0 0;
  font-size: 50px;
  border-right: 3px solid var(--dark);
}

aside .about{
  margin: 0 0 100px 0;
}

aside .me {
  display: block;
  padding-left: 125px;
}

 /*aligning selfie with about me*/
#section1 img{
  float: left;
  margin: 9px 30px 0 0;
  border: 4px solid  rgb(27, 100, 36);;
  height: 90%;
  width: 10%;
}  

#section1 p {
  padding-top: 13px;
}

/*setting up sections for main content*/
section {
  padding: 150px;
}

#work {
padding: 0 0 1250px 23px;
}

/*using flexbox and styling to organize projects*/
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 70px;
}

.project1 {
  border-width: 1px;
  padding: 5px;
}

.project1 img {
  opacity: .5 ;
  height: 100%;
  width: 100%;
  border: 4px solid var(--bright);
}

/*hover and opacity for faded look and normal when mouse scrolls over image*/
.project1 img:hover {
  opacity: 1;
}

.p1p {
  position: relative;
  background-color: var(--bright);
  color: black;
  top: -150px;
  left: -20px;
  float: left;
  padding: 5px 5px 5px 10px;
  margin: 20px;
  font-weight: bold;
  opacity: .5;
}

.refactor {
  font-size: 10px;
}

/*setting smaller work images under main image*/
.smaller {
  background-image: url("../images/Recommeded-Movies\ To\ Watch\ During\ Spooky\ Season\ -\ Google\ Chrome\ 10_10_2023\ 7_36_01\ PM.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  opacity: .5;
  width: 46%;
  height: 250px;
  padding: 11px;
  margin: 10px;
  border: 4px solid var(--bright);
}

.smaller a:link {
  text-decoration: none;
}

.smaller:hover {
opacity: 1;
}

/*images for smaller work section*/
#js {
  background-image: url("../images/secret-journey-90858-eba93134a4b9.herokuapp.com\ -\ Google\ Chrome\ 12_10_2023\ 11_59_22\ PM.png");
}

#web {
  background-image: url("../images/Coding.Quiz\ Me\ -\ Google\ Chrome\ 9_16_2023\ 8_50_43\ PM\ \(2\).png");
}

#third {
  background-image: url("../images/Work\ Day\ Scheduler\ -\ Google\ Chrome\ 9_24_2023\ 11_53_41\ PM.png");
}

.work {
  position: relative;
  background-color: var(--bright);
  left: -15px;
  top: 160px;
  float: left;
  padding: 5px 5px 5px 10px;
  font-weight: bold;
}

.work3 {
  position: relative;
  background-color: var(--bright);
  left: -15px;
  top: 160px;
  float: left;
  padding: 5px 60px 5px 10px;
  font-weight: bold;
}

.title {
  font-size: 10px;
}

/*spacing and aligning links*/
.contact {
  display: flex;
}

.contact h1 {
  margin-left: -80px;
  margin-top: 0;
}

#section3 .me2 {
  display: block;
  padding-left: 210px;
}

.paragraph ul{
  display: flex;
  list-style-type: none;
  padding-top: 20px;
  color:  rgb(27, 100, 36);
  font-weight: bold;
  font-size: 20px;
}

.paragraph ul li {
  padding: 50px;
}

/*no underline on links and allowing for color change*/
.paragraph ul li a:link, a:visited {
  text-decoration: none;
}

.resume {
  margin-left: -43px;
}

.resume p{
  display: flex;
  padding-top: 30px;
  font-weight: bold;
  font-size: 20px;
}

.resume a:link, a:visited {
  text-decoration: none;
  color: rgb(27, 100, 36);
  padding: 20px 0px 0 60px;
}

/*changes to fit tablet screens*/
@media screen and (max-width: 992px) {
 .header ul {
  display: flex;
  padding-left: 5px;
 }

  main article img{
  width: 100%;
  height: 50%
 }

  aside {
  margin-left: -100px;
 }

 #section1 img{
  margin: 9px 30px 0 0;
  height: 40%;
  width: 20%;
}  

#section1 p {
  padding-top: 1px;
}

aside .about{
  margin: 0 0 300px 0;
}

.project1 img {
  opacity: .5 ;
  height: 100%;
  width: 125%;
  border: 4px solid var(--bright);
}

.smaller {
  margin: 20px -60px 60px 50px;
  width: 38%;
  height: 60px;
}

.work {
  left: 1px;
  top: 50px;
  float: left;
  padding: 0 0 0 10px;
}

#js .work{
  top: 56px;
}

#web .work3 {
  top: 50px;
  left: 1px;
}

#work {
  padding: 0 0 420px 20px;
  }
}

.contact h1 {
  margin-left: 10px;
  font-size: 40px;
}

#section3 .me2 {
  padding-left: 145px;
}

.paragraph ul{
  display: block;
  text-align: center;
  font-size: 15px;
}

.resume h1{
  margin-left: 70px;
  margin-bottom: 100px;
  font-size: 40px;
}

/*changes to fit smartphone screen*/
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 80px;
  }

  .header ul {
    padding: 0 100px 0 0;
   }
  
  aside {
    margin-left: -100px;
    font-size: 40px;
   }
  
  #section1 aside {
    padding-bottom: 300px;
   }

  aside .me {
    padding-left: 100px;
  }

  #section1 img{
    margin: 9px 30px 0 0;
    height: 30%;
    width: 30%;
  }  
  
  #section1 p {
    text-align: justify;
  }
  
  .project1 img {
    margin-left: -55px;
    width: 175%;
  }
  
  .p1p {
    left: -71px;
    top: -130px;
  }
#work {
  padding-bottom: 255px;
}
  .smaller {
    margin: 40px -60px 50px 20px;
    width: 38%;
    height: 30px;
  }
  
  .work {
    display: none;
  }
  
  .work3 {
    display: none;
  }
  
  .resume h1{
    margin-left: 70px;
    margin-bottom: 120px;
    font-size: 40px;
  }

 .resume p {
  text-align: center;
 }
}